@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #22c55e #86efac;
}
*:focus{
   outline: none; 
}
body{
    display: grid;
    grid-template-areas: 
                "side nav nav nav"
                "side main main main"
                "side main main main"
                "side main main main";
    grid-template-columns: 250px auto auto;
    grid-template-rows: 75px;
}
header{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: 1fr;
    margin-top: 20px;
    justify-content: center;
    height: 25px;
}
header h4{
    
}
header button{
    width: 25px;
    height: 25px;
    background: transparent;
    border: transparent;
}
header button:active{
    background: rgba(0, 0, 0, 0.1);
}
header button img{
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
}
#search{
    display: grid;
    grid-template-columns: 25px 1fr;
    padding-left: 40px;
}
#search input{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    height: 25px;
    width: 500px;
    border: none;
    background-color:rgb(230, 230, 230)
}
#search input:focus{
    outline: solid 2px blue;
    border: none;
}
#profile{
    display: grid;
    width: 250px;
    grid-template-columns: repeat(2, minmax(20px, 50px)) 150px;
    justify-self: end;
}
#profile #avatar{
    width: 40px;
    height: 40px;
    border-radius: 360px;
}
#sidebar{
    grid-area: side;
    background-color: #16a34a;
    width: 250px;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px repeat(5, 30px) 75px repeat(3, 30px);
    color: white;
    padding-top: 15px;
}
#sidebar div:first-child img{
    width: 50px;
    height: 50px;
}
#sidebar div img{
    width: 18px;
    height: 18px;
}
#sidebar div{
    width: 250px;
    padding-left: 15px;
}
#sidebar div > *{
    display: inline;
}
#sidebar h1{
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 10px;
}
#sidebar h2{
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 10px;
}
#main-content{
    grid-area: main;
    background-color: rgb(226, 232, 240);
}
#action-bar{
    background-color: white;
    display: grid;
    grid-template-columns: 80px 500px 1fr;
}
#action-bar img{
    width: 80px;
    height: 80px;
    border-radius: 360px;
}
#action-bar p{
    font-weight: 700;
    
}
#action-bar h1{
    font-size: 24px;
}
#action-menu{
    justify-self: end;
    padding-right: 75px;
    padding-top: 17px;
}
#action-menu button{
    background-color: #15803d;
    width: 105px;
    height: 40px;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}